extends layouts/default

block content
  .right.floated.column
    a.ui.button(href="https://github.com/martindale/decentralize/edit/master/views/about.jade")
      i.pencil.icon
      | edit
  
  h1 Welcome To DECENTRALIZE
  p.lead DECENTRALIZE is the podcast for the decentralization movement – the hackers, scholars, artists, entrepreneurs, and hobbyists building technologies free of central control.
  p Join us – Tony Sakich, Eric Martindale, James Walpole, and Chaz Ferguson – as we interview the best and brightest in the decentralization community and sharpen our own unique perspectives on the happenings and big questions of an increasingly decentralized world.
  
  img(src="/img/decentralize-logo-main.png", alt="DECENTRALIZE")

  h2 Meet the Team

  h3 Chaz Ferguson
  p Software engineer by day, rocket scientist by night, Chaz lives and works from his home in Atlanta as a Lead Developer for a bitcoin company. When he's not writing code he's usually  managing his Space Agency on Kerbin, or conquering the foes of Blackrock Foundry in World of Warcraft. Chaz is also an award winning filmmaker, and active contributor to the Freesound project.
  h3 Eric Martindale
  p A proud autodidact and polymath, Eric is a past founding engineer and CTO of several companies in the decentralization space, chief developer evangelist and open source advocate for Atlanta-based Bitcoin startup BitPay, and the relentless maker of the DECENTRALIZE team.
  h3 Tony Sakich
  p Tony is currently the Director of Marketing for Augur, an Ethereum-based decentralized prediction market being built by a "dream team" of developers. He digs combat sports (especially the fake ones), music, awesome business models and the idea that information should be free. Tony also loves gaming (specifically retrogaming) and owns over 50 classic consoles and another dozen handheld systems.
  h3 James Walpole
  p The resident teenager of the DECENTRALIZE team, James first encountered Bitcoin and decentralized technologies through a love of philosophy and economics (and Twitter). He now works on the marketing team of Atlanta-based Bitcoin company BitPay and thanks Satoshi for the daily adventures of tech entrepreneurship and self-directed learning.
