extends layouts/default

block content
  .right.floated.column
    a.ui.button(href="https://github.com/martindale/decentralize/edit/master/views/about.jade")
      i.pencil.icon
      | edit
  
  h1 Welcome To DECENTRALIZE
  p The stakes for the future of technology have never been higher. Whether markets, money, the internet, and information itself will be free in the next century rests in the hands of those building the systems we live by today. That's where we come in. DECENTRALIZE is the podcast for the decentralization movement – the hackers, scholars, artists, entrepreneurs, and hobbyists building technologies free of central control.
  p Join us – Tony Sakich, Eric Martindale, James Walpole, and Chaz Ferguson – as we interview the best and brightest in the decentralization community and sharpen our own unique perspectives on the happenings and big questions of a world in the throes of daily technological revolutions.
