extends layouts/default

block content
  .right.floated.column
    a.ui.button(href="https://github.com/martindale/decentralize/edit/master/views/about.jade")
      i.pencil.icon
      | edit
  
  h1 About
