extends layouts/default

block content
  .right.floated.column
    a.ui.button(href="https://github.com/martindale/decentralize/edit/master/views/contact.jade")
      i.pencil.icon
      | edit

  h1 Contact

  //- TODO: contact form.  See MailPimp: https://github.com/martindale/mailpimp
