extends layouts/default

block links
  //-link(rel="alternate", type="application/atom+xml", href="/shows")
  link(rel="alternate", type="application/atom+xml", href="/feed")

block content
  h1 All Shows
  .ui.feed
    for item in shows
      include partials/show
