extends layouts/default

block content
  
  h1 Subscribe!
  p You can subscribe to <a href="/feed">our RSS feed</a> directly or receive a notification in your inbox each time we publish a new episode.

  .ui.centered.card
    .content
      include forms/subscribe
