extends layouts/default

block content

  h1 Meet the Team
  p We're happy to talk!  Feel free to contact each of us individually.

  .ui.cards
    .card
      .image
        img(src="/img/chaz-ferguson.jpg")
      .content
        a.header Chaz Ferguson
        .description
          .list
            .item
              a(href="https://twitter.com/unchaz")
                i.twitter.icon
                | @unchaz
            .item
              a(href="mailto:chaz@decentralize.fm")
                i.mail.icon
                | chaz@decentralize.fm
            .item
              a(href="/chaz.asc")
                i.key.icon
                | PGP
          p Software engineer by day, rocket scientist by night, Chaz lives and works from his home in Atlanta as a Lead Developer for a bitcoin company. When he's not writing code he's usually  managing his Space Agency on Kerbin, or conquering the foes of Blackrock Foundry in World of Warcraft. Chaz is also an award winning filmmaker, and active contributor to the Freesound project.

    .card
      .image
        img(src="/img/eric-martindale.jpg")
      .content
        a.header Eric Martindale
        .description
          .list
            .item
              a(href="https://twitter.com/martindale")
                i.twitter.icon
                | @martindale
            .item
              a(href="mailto:eric@decentralize.fm")
                i.mail.icon
                | eric@decentralize.fm
            .item
              a(href="/eric.asc")
                i.key.icon
                | PGP
          p A proud autodidact and polymath, Eric is a past founding engineer and CTO of several companies in the decentralization space, chief developer evangelist and open source advocate for Atlanta-based Bitcoin startup BitPay, and the relentless maker of the DECENTRALIZE team.

    .card
      .image
        img(src="/img/james-walpole.jpg")
      .content
        a.header James Walpole
        .description
          .list
            .item
              a(href="https://twitter.com/JamesLWalpole")
                i.twitter.icon
                | @JamesLWalpole
            .item
              a(href="mailto:james@decentralize.fm")
                i.mail.icon
                | james@decentralize.fm
            .item
              a(href="/james.asc")
                i.key.icon
                | PGP
          p The resident teenager of the DECENTRALIZE team, James first encountered Bitcoin and decentralized technologies through a love of philosophy and economics (and Twitter). He now works on the marketing team of Atlanta-based Bitcoin company BitPay and thanks Satoshi for the daily adventures of tech entrepreneurship and self-directed learning.
                
    .card
      .image
        img(src="/img/tony-sakich.jpg")
      .content
        a.header Tony Sakich
        .description
          .list
            .item
              a(href="https://twitter.com/TonySwish")
                i.twitter.icon
                | @TonySwish
            .item
              a(href="mailto:tony@decentralize.fm")
                i.mail.icon
                | tony@decentralize.fm
            .item
              a(href="/tony.asc")
                i.key.icon
                | PGP
          p Tony is currently the Director of Marketing for Augur, an Ethereum-based decentralized prediction market being built by a "dream team" of developers. He digs combat sports (especially the fake ones), music, awesome business models and the idea that information should be free. Tony also loves gaming (specifically retrogaming) and owns over 50 classic consoles and another dozen handheld systems.
