form.ui.form(action="/subscriptions", method="post")
  .field.required
    label Email
    input(type="email", name="email", placeholder="you@youremail.com", required)
  button.ui.submit.button.right.floated.primary.tooltipped(title="We promise – no spam, ever.  We'll send you an email with a link to confirm your subscription.")
    i.newspaper.icon
    | Subscribe &raquo;
