form.ui.form(action="/subscriptions", method="post")
  .field.required
    label Email
    input(type="text", required)
  button.ui.submit.button.right.floated.primary
    i.newspaper.icon
    | Subscribe
